<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Ralph's Blog: Feedback</title>
<link rel="stylesheet" href="/assets/blog-5.css">
</head>
<body>

  <header>
    <h1>Ralph's Blog</h1>
    <p class="indexsubtitle">... thanks for the feedback</p>
    <a class="back" href="/">Back to the Overview</a>
  </header>

</body>
</html>

